apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: kube-prometheus-stack
spec:
  interval: 1h
  chart:
    spec:
      chart: kube-prometheus-stack
      version: 45.0.0
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
  values:
    grafana:
      adminPassword: "admin" # Replace with a secure password
      ingress:
        enabled: true
        ingressClassName: public
        hosts:
          - grafana.orriborri.com
        tls:
          - secretName: orriborri-com-tls
            hosts:
              - grafana.orriborri.com
    alertmanager:
      ingress:
        enabled: true
        ingressClassName: private
        tls:
          - secretName: orriborri-com-tls
        hosts:
          - alertmanager.orriborri.com
      alertmanagerSpec:
        storage:
          volumeClaimTemplate:
            spec:
              storageClassName: syno-storage
              accessModes:
                - ReadWriteOnce
              resources:
                requests:
                  storage: 10Gi
    prometheus:
      ingress:
        enabled: true
        ingressClassName: private
        tls:
          - secretName: orriborri-com-tls
        hosts:
          - prometheus.orriborri.com
      prometheusSpec:
        serviceMonitorSelectorNilUsesHelmValues: false
        storageSpec:
          volumeClaimTemplate:
            spec:
              storageClassName: syno-storage
              accessModes:
                - ReadWriteOnce
              resources:
                requests:
                  storage: 50Gi
