apiVersion: apps/v1
kind: Deployment
metadata:
  name: penpot-exporter
  namespace: default
  labels:
    app: penpot-exporter
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
  selector:
    matchLabels:
      app: penpot-exporter
  template:
    metadata:
      labels:
        app: penpot-exporter
    spec:
      containers:
        - name: penpot-exporter
          image: penpotapp/exporter:2.13.2
          imagePullPolicy: "IfNotPresent"
          ports:
            - containerPort: 6061
          env:
            - name: PENPOT_PUBLIC_URI
              value: "http://penpot-frontend"
            - name: PENPOT_REDIS_URI
              value: "redis://penpot-redis:6379/0"
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 500m
              memory: 1Gi
