apiVersion: apps/v1
kind: Deployment
metadata:
  name: calibre
  namespace: default
  labels:
    app: calibre
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: calibre
  template:
    metadata:
      labels:
        app: calibre
    spec:
      containers:
        - name: calibre
          image: lscr.io/linuxserver/calibre:v9.2.1-ls385
          imagePullPolicy: "IfNotPresent"
          ports:
            - containerPort: 8080
              name: desktop
            - containerPort: 8181
              name: webserver
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: TZ
              value: "Europe/Oslo"
          volumeMounts:
            - mountPath: /config
              name: calibre-config
            - mountPath: /books
              name: calibre-library
          resources:
            requests:
              cpu: 200m
              memory: 256Mi
            limits:
              cpu: 1000m
              memory: 1Gi
      volumes:
        - name: calibre-config
          persistentVolumeClaim:
            claimName: calibre-config
        - name: calibre-library
          persistentVolumeClaim:
            claimName: calibre-library
